
:root {

	--color-bl-primary: #000000;
	--color-bl-secondary: #444444;
	--color-main-grey: #dcdcdc;
	--color-main-light-grey: #ebebeb;
	--color-bg-secondary: #f0f0f0;
	--color-bg-primary: #FFFFFF;
	--color-bg-accent: #FFE17F;
	--color-bg-special: #FFC700;

	--color-filter: #EBEBEB;

	--color-focus: #af4fff;
	--color-error: #ff3d3d;
	--color-success: #08af00;
	--color-warning:  #fd912e;
	}


	@font-face {
		font-family: "Rubik";
		font-style: normal;
		font-display: swap;
		font-weight: 400;
		src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
	}

	@font-face {
		font-family: "Rubik Bold";
		font-style: normal;
		font-display: swap;
		font-weight: 700;
		src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
	}


	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-display: swap;
		font-weight: 800;
		src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	}


body {
	/* удалить background-color */
	background-color: rgb(238, 238, 238);
  font-family: "Rubik", sans-serif;
	font-size: 18px;
	line-height: 30px;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;

}

.hidden {
	visibility: hidden;
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}

.reversed {
	transform: scaleY(-1);
}



ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}


h3 {
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
	line-height: 24px;
}

a, p {
	font-size: 18px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

a {
	text-decoration-line: none ;
	color: var(--color-bl-primary);
}

a:hover {
	color: var(--color-focus);
}


.title-1 {
  font-size: 50px;
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
	line-height: 50px;
}

.title-2 {
	font-family: "Raleway", sans-serif;;
 font-size: 18px;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
 letter-spacing: 3.6px;
 text-transform: uppercase;
}

.title-3 {
	font-family: "Rubik Bold", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px
	}

	.text-small {
		font-family: "Rubik", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.36px;
	}

	.link-small:link {
		font-family: "Rubik", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-decoration-line: underline;
	}

/* HEADER */


.main-header,
.logo {
	position: relative;

}

.logo {
	z-index: 2;
}

.main-header-nav {
  transform: translateY(-18px);
	background-color: var(--color-bg-accent);
	width: 100vw;
	min-height: 300px;
}

.usermenu,
.mainmenu,
.logo {
	padding-left: 60px;
	padding-right: 60px;
}


.search form {
	display: inline-flex;
}

.search input[type="text"],
.search input[type="submit"] {
	border: var(--color-bl-primary) solid 2px;
font-family: "Rubik";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
padding: 6px;
background-color: transparent;
}
.search input[type="text"] {
	display: flex;
border-radius: 50px 0px 0px 50px;
width: 357px;
padding-left: 46px;
}

.search-field {
	display:flex;
	align-items:center;
justify-content: space-between;
}

.search .icon-search {
	position: absolute;
	background-image: url('../images/search.svg');
	background-repeat: no-repeat;
  background-size: cover;
	height: 16px;
	width: 16px;
	left: 75px;
}

.search input[type="submit"] {
	border-radius: 0px 50px 50px 0px;
	border-left: none;
	width: 158px;
}

.search input::placeholder {
color: var(--color-bl-primary);
}

.usermenu,
.mainmenu {
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding-top: 30px;
	width: 1300px;
}


.usermenu ul,
.mainmenu ul,
.main-header-nav li {
	display: inline-flex;
}

.mainmenu ul {
	gap: 45px;
}

.mainmenu-button-title {
 display: flex;
 width: 260px;
 margin-right: 5px;
}

.usermenu-item {
	gap: 12px;
	display: flex;
	align-items: center;
	margin-left: 22px;
}

.login,
.logout {
		width: 230px;
}

.usermenu-item.cart-wrap  {
	display: flex;
	align-items: last baseline;
}

.amount-purchased {
	font-family: "Rubik";
	size: 14px;
width:21px;
height:21px;
padding:0;
border-radius:50%;
background-color: var(--color-bg-primary);
display:flex;
align-items:center;
justify-content:center;
z-index: 2;
margin-bottom: -5px;
flex: 0 0 auto;
}

.icon-cart {
	margin-left: -18px;
	z-index: 1;
}

	#mainmenu-button {
	border-style: none;
	background: transparent;
	display: flex;
	align-items: center;
	gap: 7px;
	}

.mainmenu-button-icon{
	height: 50px;
	width: 50px;
	display: block;
	background:
	url('../images/catalog-ellipse.svg') no-repeat center center,
	url('../images/catalog-plus.svg') no-repeat center center;
	background-size: cover, 16px;
}

a.button-main-link {
	text-decoration: none;

}

.highlight--yellow {
	background: linear-gradient(var(--color-bg-accent), var(--color-bg-accent)) no-repeat center/100% 8px;
}

/* BREADCRUMBS */
.breadcrumbs {
	display: flex;
	gap: 16px;
}

.breadcrumb-header-title {
	font-family: "Raleway";
	font-size: 50px;
}

.breadcrumbs-item a{
	color: var(--color-bl-primary);
	text-decoration-line: none;
}

/* FILTER */

.range-toggle {

}

/* FOOTER */

.footer {
	padding-left: 50px;
	padding-right: 50px;
	height: 321px;
	background-color: var(--color-bl-secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.logo-footer-word,
.logo-footer-mark {
fill: var(--color-bg-special);
}

.footer-address,
.footer-nav-list a,
a.footer-tel {
	color: var(--color-bg-primary);
}


.footer-nav {
	gap: 100px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.footer-nav-list {
	display: flex;
	gap: 35px;
}

.footer-bottom-list {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.icon-frame::before {
	position: absolute;
	content: "";
	border-bottom: var(--color-bg-special) solid 7px;
  width: 80px;
}

.socials-list {
	display: flex;
	gap: 15px;
}
