body {
	background-color: rgb(157, 157, 157);

}

/* .visually-hidden { */
	/* position: absolute; */
	/* width: 1px; */
	/* height: 1px; */
	/* margin: -1px; */
	/* padding: 0; */
	/* overflow: hidden; */
	/* clip: rect(0, 0, 0, 0); */
	/* border: 0; */
	/* white-space: nowrap; */
	/* added for ensuring text doesn't wrap */
/* } */

.hidden {
	visibility: hidden;
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}
