/* TODO: Фоны, которые упираются в края макета, должны тянуться на всю страницу.
TODO:  Модальные окна должны позиционироваться относительно видимой части экрана.
TODO:  При нехватке контента страницы подвал прижат к низу страницы.
/* TODO: О нас, Контакты about-item.в два столбца --> */
/*   [?] Добавить желтую полосу через CSS или svg элемент в icon-divider  --> */
/*   TODO:CSS обьединить стили nav-submenu-item/link и nav-submenu-side-item/link
        Это указывает на потенциальную необходимость рефакторинга классов для уменьшения
        дублирования и упрощения CSS.--> */
/*  [?] определить скрытие заголовков и иконок от поиска и скринридеров
и обычных посетителей - определить разницу visually-hidden и hidden*/



:root {

	--color-bl-primary: #000000;
	--color-bl-secondary: #444444;
	--color-main-grey: #dcdcdc;
	--color-main-light-grey: #ebebeb;
	--color-bg-secondary: #f0f0f0;
	--color-bg-primary: #FFFFFF;
	--color-bg-accent: #FFE17F;

	--color-filter: #EBEBEB;

	--color-focus: #af4fff;
	--color-error: #ff3d3d;
	--color-success: #08af00;
	--color-warning:  #fd912e;
	}


@font-face {
  font-family: "Rubik";
  font-style: normal;
	src: local("Rubik"),
			url("../fonts/rubik/rubik-400.woff2") format("woff2"),
			url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Railway";
  font-style: normal;
	src: local("Rubik"),
			url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
	/* added for ensuring text doesn't wrap */
}

.hidden {
	visibility: hidden;
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}

body,
section {
	background-color: var(--color-bg-primary);
 margin: 0 0 auto;
}

section {
	padding-left: 60px;
	padding-right: 60px;
}

.usermenu a {
	font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 18px;
	line-height: 30px;
}

.mainmenu a,
.mainmenu span {
	font-family: "Railway", sans-serif;
  font-weight: 700;
  font-style: normal;
	font-size: 21px;
	line-height: 21px;
	text-transform:uppercase;
letter-spacing: 3.6px;
}

body li {
	list-style: none;
}

h3 {
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
	line-height: 24px;
}

a, p {
	font-size: 18px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link,
a:visited,
a:active,
a:focus {
	text-decoration-line: underline;
	color: var(--color-bl-primary);
}

a:hover {
	color: var(--color-focus);
}

a.button-main-link {
	text-decoration-line: none;
}

.main-header-nav a,
li a:link {
	text-decoration-line: none;
}

h1, h2, .tagline {
  font-size: 50px;
	font-family: "Railway", sans-serif;
  font-weight: 800;
  font-style: normal;
}

th {
	text-decoration: none;
	font-size: 36px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
	color: var(--color-bl-primary);
	line-height: 30px
}

td {
	text-decoration: none;
	font-size: 16px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
	line-height: 30px;
  font-style: normal;
	color: var(--color-bl-secondary);
	padding-right: 20px;
	padding-top: 12px;
}

.main-header,
.logo {
	position: relative;
}

.logo {
	z-index: 2;
}

.main-header-nav {
  transform: translateY(-18px);
	background-color: var(--color-bg-accent);
	width: 100vw;
	min-height: 300px;
	z-index: -1;
}

.usermenu,
.mainmenu,
.logo {
	padding-left: 60px;
	padding-right: 60px;
}


.search input[type="text"],
.search input[type="submit"] {
	border: var(--color-bl-primary) solid 2px;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
padding: 6px;
background-color: transparent;
}


.search input[type="text"] {
border-radius: 50px 0px 0px 50px;
width: 357px;
padding-left: 46px;
}

.search {
	display: flex;
	align-items: center;
	width: 100%; /* Установка ширины контейнера */
}

.search-field {
	display:flex;
	align-items:center;
justify-content: space-between;
}

.search .icon-search {
	position: absolute;
	background-image: url('../images/search.svg');
	background-repeat: no-repeat;
  background-size: cover;
	height: 16px;
	width: 16px;
	left: 75px;
}

.search input[type="submit"] {
	border-radius: 0px 50px 50px 0px;
	width: 158px;
	margin-left: -7px;
}

.search input::placeholder {
color: var(--color-bl-primary);
}

.usermenu,
.mainmenu {
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding-top: 30px;
	width: 1300px;
}


.usermenu ul,
.mainmenu ul,
.main-header-nav li {
	display: inline-flex;
}

.mainmenu ul {
	gap: 45px;
}

.mainmenu-button-title {
 display: flex;
 width: 260px;
 margin-right: 5px;
}

.usermenu-item {
	gap: 12px;
	display: flex;
	align-items: center;
	margin-left: 22px;
}

.login,
.logout {
		width: 230px;
}

.usermenu-item.cart-wrap  {
	display: flex;
	align-items: last baseline;
}

.amount-purchased {
width:21px;
height:21px;
padding:0;
border-radius:50%;
background-color: var(--color-bg-primary);
display:flex;
align-items:center;
justify-content:center;
z-index: 2;
margin-bottom: -5px;
flex: 0 0 auto;
}

.icon-cart {
	margin-left: -18px;
	z-index: 1;
}

	#mainmenu-button {
	border-style: none;
	background: transparent;
	display: flex;
	align-items: center;
	gap: 7px;
	}

.mainmenu-button-icon{
	height: 50px;
	width: 50px;
	display: block;
	background:
	url('../images/catalog-ellipse.svg') no-repeat center center,
	url('../images/catalog-plus.svg') no-repeat center center;
	background-size: cover, 16px;
}

.get-details {
	background: linear-gradient(var(--color-bg-accent), var(--color-bg-accent)) no-repeat center/210px 8px;
	font-size: 18px;
	font-weight: 800;
	width: 220px;
height: 40px;
text-transform: uppercase;
letter-spacing: 3.6px;
display: flex;
    justify-content: center;
    align-items: center;
}

.slider-button.slider-prev {
	background-image: url('../images/arrow.svg');
	background-color: transparent;
	width: 20px;
	height: 60px;
	border: none;
	transform: rotate(180deg);
}

.slider-button.slider-next {
	background-image: url('../images/arrow.svg');
	background-color: transparent;
	width: 20px;
	height: 60px;
	border: none;
}

.lead-product-slider {
	display: flex;
	transform: translateY(-160px);
	/* Убрать маржу на что-то не ломающее верстку и скринридеры*/
	margin-bottom: -230px;
}

.product-info {
	transform: translateY(91px);
	margin: 0px 0px 0px 40px;
}

.product-number {
	font-size: 180px;
	font-family: 'Rubik';
	font-weight: 700;
	height: 135px;
	line-height: 30px;
	transform: translateY(0px) translateX(310px);
	z-index: -2;
	position: absolute;
	color: var(--color-bg-primary);
}

.product-data-value,
.product-data-desc {
	text-align: left;
}

.slider-button-wrap {
	display: flex;
	width: 530px;
	justify-content: space-between;
	top: 50%;
	position: absolute;
	transform: translateY(-60px) translateX(30px);
}

.get-details-wrap {
	justify-content: space-between;
	display: flex;
	margin-bottom: 49px;
}

.slider-pagination-list {
	gap: 20px;
	display: flex;
}

.slider-pagination-chosen {
	background-image: url('../images/indicators-filled.svg');
	background-repeat: no-repeat;
	background-position: center;
  width: 12px;
	height: 12px;
}

.slider-pagination-empty {
	background-image: url('../images/indicators-empty.svg');
	background-repeat: no-repeat;
	background-position: center;
  width: 12px;
	height: 12px;
}

.catalog-categories ul {
display: flex;
margin: 70px 0px 70px 0px;
gap: 40px;
}

.category-item {
	height: 253px;
	width: 160px;
}

.category-img {
	background-color: var(--color-bg-accent);
}




/* TODO: ДОБАВИТЬ ВСЕ ИКОНКИ
TODO: ИДТИ ДАЛЬШЕ ПО КУРСУ, И НЕ ЗАНИМАТЬСЯ ХУЙНЕЙ
*/
