/* TODO: Фоны, которые упираются в края макета, должны тянуться на всю страницу.
TODO:  Модальные окна должны позиционироваться относительно видимой части экрана.
TODO:  При нехватке контента страницы подвал прижат к низу страницы.
/* TODO: О нас, Контакты about-item.в два столбца --> */
/*   [?] Добавить желтую полосу через CSS или svg элемент в icon-divider  --> */
/*   TODO:CSS обьединить стили nav-submenu-item/link и nav-submenu-side-item/link
        Это указывает на потенциальную необходимость рефакторинга классов для уменьшения
        дублирования и упрощения CSS.--> */
/*  [?] определить скрытие заголовков и иконок от поиска и скринридеров
и обычных посетителей - определить разницу visually-hidden и hidden*/
body {
  background-color: rgb(157, 157, 157);

}

.nav-submenu-side-item {
  font-weight: bold;
  font-size: 1.1em;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
}
.nav-submenu-side-item a {
  text-decoration: inherit;
  color: inherit; /* To ensure the links use the same color as the list item */
}


.nav-submenu {
display: inline-flex;
}

.nav-submenu li {
  display: inline;
  }

.nav-submenu-button {
  display: flex;
  align-items: center;
  background-color: transparent; /* Пример фона */
  border: none; /* Пример границы */
  padding: 10px; /* Пример внутренних отступов */
}

.nav-submenu-icon {
  margin-left: 1em;
}

.nav-submenu-icon {
  display: inline-block; /* or 'flex' to use 'align-items' and 'justify-content' */
  width: 30px; /* Circle size */
  height: 30px; /* Circle size */
  line-height: 30px; /* Vertically center the content */
  text-align: center; /* Horizontally center the content */
  border-radius: 50%; /* Makes the element circular */
  border: 2px solid #000; /* Border color */
  font-size: 20px; /* Icon size */
  margin-left: 10px; /* Space between the text and the circle */
  /* Additional styles for color, background, etc., as needed */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* added for ensuring text doesn't wrap */
}

.hidden {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}

