

:root {

	--color-bl-primary: #000000;
	--color-bl-secondary: #444444;
	--color-main-grey: #dcdcdc;
	--color-main-light-grey: #ebebeb;
	--color-bg-secondary: #f0f0f0;
	--color-bg-primary: #FFFFFF;
	--color-bg-accent: #FFE17F;
	--color-bg-special: #FFC700;

	--color-filter: #EBEBEB;

	--color-focus: #af4fff;
	--color-error: #ff3d3d;
	--color-success: #08af00;
	--color-warning:  #fd912e;
	}


@font-face {
  font-family: "Rubik";
  font-style: normal;
	font-display: swap;
  font-weight: 400;
	src: local("Rubik"),
			url("../fonts/rubik/rubik-400.woff2") format("woff2"),
}

@font-face {
  font-family: "Rubik Bold";
  font-style: normal;
	font-display: swap;
  font-weight: 700;
	src: local("Rubik Bold"),
			url("../fonts/rubik/rubik-700.woff2") format("woff2"),
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
	font-display: swap;
  font-weight: 800;
	src: local("Raleway"),
			url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
	/* added for ensuring text doesn't wrap */
}

.hidden {
	visibility: hidden;
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}


h3 {
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
	line-height: 24px;
}

a, p {
	font-size: 18px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

.title-1 {
  font-size: 50px;
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
	line-height: 50px;
}

.title-2 {
	font-family: "Raleway";
 font-size: 18px;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
 letter-spacing: 3.6px;
 text-transform: uppercase;
}

.title-3 {
	font-family: "Rubik Bold";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px
	}

	.text-small {
		font-family: "Rubik";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.36px;
		color: var(--color-bg-primary);

	}

	.link-small {
		font-family: "Rubik";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		color: var(--color-bg-primary);
		text-decoration: underline !important;
	}


.usermenu a {
	font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 18px;
	line-height: 30px;
}

a:link,
a:visited,
a:active,
a:focus {
	text-decoration: underline ;
	color: var(--color-bl-primary);
}

a:hover {
	color: var(--color-focus);
}


.main-header-nav a,
li a:link {
	text-decoration-line: none;
}




th {
	text-decoration: none;
	font-size: 36px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
	color: var(--color-bl-primary);
	line-height: 30px
}

td {
	text-decoration: none;
	font-size: 16px;
	font-family: "Rubik", sans-serif;
  font-weight: 400;
	line-height: 30px;
  font-style: normal;
	color: var(--color-bl-secondary);
	padding-right: 20px;
	padding-top: 12px;
}

.main-header,
.logo {
	position: relative;

}

.logo {
	z-index: 2;
}

.main-header-nav {
  transform: translateY(-18px);
	background-color: var(--color-bg-accent);
	width: 100vw;
	min-height: 300px;
}

.usermenu,
.mainmenu,
.logo {
	padding-left: 60px;
	padding-right: 60px;
}


.search form {
	display: inline-flex;
}

.search input[type="text"],
.search input[type="submit"] {
	border: var(--color-bl-primary) solid 2px;
font-family: "Rubik";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
padding: 6px;
background-color: transparent;
}


.search input[type="text"] {
	display: flex;
border-radius: 50px 0px 0px 50px;
width: 357px;
padding-left: 46px;
}



.search-field {
	display:flex;
	align-items:center;
justify-content: space-between;
}

.search .icon-search {
	position: absolute;
	background-image: url('../images/search.svg');
	background-repeat: no-repeat;
  background-size: cover;
	height: 16px;
	width: 16px;
	left: 75px;
}

.search input[type="submit"] {
	border-radius: 0px 50px 50px 0px;
	border-left: none;
	width: 158px;
}

.search input::placeholder {
color: var(--color-bl-primary);
}

.usermenu,
.mainmenu {
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding-top: 30px;
	width: 1300px;
}


.usermenu ul,
.mainmenu ul,
.main-header-nav li {
	display: inline-flex;
}

.mainmenu ul {
	gap: 45px;
}

.mainmenu-button-title {
 display: flex;
 width: 260px;
 margin-right: 5px;
}

.usermenu-item {
	gap: 12px;
	display: flex;
	align-items: center;
	margin-left: 22px;
}

.login,
.logout {
		width: 230px;
}

.usermenu-item.cart-wrap  {
	display: flex;
	align-items: last baseline;
}

.amount-purchased {
width:21px;
height:21px;
padding:0;
border-radius:50%;
background-color: var(--color-bg-primary);
display:flex;
align-items:center;
justify-content:center;
z-index: 2;
margin-bottom: -5px;
flex: 0 0 auto;
}

.icon-cart {
	margin-left: -18px;
	z-index: 1;
}

	#mainmenu-button {
	border-style: none;
	background: transparent;
	display: flex;
	align-items: center;
	gap: 7px;
	}

.mainmenu-button-icon{
	height: 50px;
	width: 50px;
	display: block;
	background:
	url('../images/catalog-ellipse.svg') no-repeat center center,
	url('../images/catalog-plus.svg') no-repeat center center;
	background-size: cover, 16px;
}

a.button-main-link {
	text-decoration: none;

}

.highlight--yellow {
	background: linear-gradient(var(--color-bg-accent), var(--color-bg-accent)) no-repeat center/100% 8px;
	font-size: 18px;
	font-weight: 800;
text-transform: uppercase;
letter-spacing: 3.6px;
  text-align: center;
	display: flex;
	align-items: center;
  justify-content: center;
	line-height: 40px;
}

.slider-button.slider-prev {
	background-image: url('../images/arrow.svg');
	background-color: transparent;
	width: 20px;
	height: 60px;
	border: none;
	transform: rotate(180deg);
}

.slider-button.slider-next {
	background-image: url('../images/arrow.svg');
	background-color: transparent;
	width: 20px;
	height: 60px;
	border: none;
}

.lead-product-slider {
	display: none;
	transform: translateY(-138px);
	margin-bottom: -230px;
}

.lead-product-slider.active {
	display: flex;

}

.product-image {
	transform: translateY(-34px);
}

.product-info {
	transform: translateY(91px);
	margin: 0px 0px 0px 40px;
}

.product-info .desc{
	margin-top: 40px;
	margin-bottom: 40px;
}

.product-number {
	font-size: 180px;
	font-family: "Rubik Bold";
	font-weight: 700;
	transform: translateY(-110px) translateX(310px);
	z-index: -2;
	position: absolute;
	color: var(--color-bg-primary);
}


.product-data-value,
.product-data-desc {
	text-align: left;
	padding-right: 35px;
}

.slider-button-wrap {
	display: flex;
	width: 530px;
	justify-content: space-between;
	top: 50%;
	position: absolute;
	transform: translateY(-60px) translateX(30px);
}

.slider-pagination-wrap {
	justify-content: space-between;
	display: flex;
	margin-bottom: 49px;
}

.slider-pagination-list {
	gap: 20px;
	display: flex;
}

.slider-pagination-chosen {
	background-image: url('../images/indicators-filled.svg');
	background-repeat: no-repeat;
	background-position: center;
  width: 12px;
	height: 12px;
}

.slider-pagination-empty {
	background-image: url('../images/indicators-empty.svg');
	background-repeat: no-repeat;
	background-position: center;
  width: 12px;
	height: 12px;
}

.catalog-categories,
.shipping,
.about-us {
	margin-top: 70px;
}

.about-us {
 margin-bottom: 70px;
}


.catalog-categories ul {
display: flex;
gap: 40px;
}

.category-item {
	height: 253px;
	width: 160px;
}

.category-img {
	background-color: var(--color-bg-accent);
}


.shipping-options-list {
  transform: translateY(-30px);
	display: flex;
justify-content: center;
height: 319px;
}

.shipping-options-list-menu {
	border-right: var(--color-bl-primary) solid 7px;
}

.shipping-options-list::after {
	content: "";
  position: absolute;
	z-index: -1;
  width: 100%;
  height: 289px;
	background-color: var(--color-bg-secondary);
	transform: translateY(42%);
	}




.shipping-options-block {
	justify-content: center;
	gap: 34px;
	width: 694px;
	padding-left: 116px;
	background-repeat: no-repeat;
	background-position: 100% 7px;
	transform: translateY(90px);
}


.shipping-modal-button {
	margin-left: 60px;
}

.shipping-options-list-item {
display: flex;
justify-content: center;
align-items: center;
}

.shipping-options-list li,
.item--rest,
.item--chosen {
	justify-content: left;
	text-align: center;
}

.item--rest span{
	background: linear-gradient(var(--color-bg-accent), var(--color-bg-accent)) no-repeat center/160px 8px;
 width: 160px;
}

.item--chosen {
background-color: var(--color-bl-primary);
color: var(--color-bg-accent);
width: 280px;
height: 40px;
margin-top: 70px;
padding-left: 20px;
}

.shipping-options-list li {
	margin-bottom: 35px;
	height: 40px;
}


.shipping-modal-button-list {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	background-color: var(--color-bg-secondary);
	margin-top: 70px;
align-items: center;
}

.shipping-modal-button-list li:nth-child(2n+1) {
	height: 100px;
	width: 125px;
	display: flex;
}

.shipping-modal-button-list li:nth-child(1) {
	background-color: var(--color-bg-accent);
}

.shipping-modal-button p {
	font-family: "Raleway";
font-size: 20px;
letter-spacing: 4px;
text-transform: uppercase;
text-align: center;
}

.shipping-modal-button-list .shipping-modal-icon-truck  {
	background: no-repeat center/ 47px 31px url('../images/truck.svg') ;
}


.shipping-modal-button-list .shipping-modal-icon-info  {
	background: no-repeat center/ 41px 40px url('../images/info.svg');

}

.about-us {
	display: flex;
 gap: 108px;
 margin: 60px 60px;
}

.about-us-column {
	flex-direction: column;
	display: inherit;
	gap: 30px;
}

.transport-companies {
	display: flex;
	flex-direction: column;
	gap: 19px;
 	font-family: "Rubik Bold";
 	font-size: 18px;
 	line-height: 20px;
 	font-weight: 700;
 	letter-spacing: -0.36px;
  list-style-type: disc;
	list-style-position: inside;
}



.transport-companies li::marker {
	color: var(--color-bg-accent);
	font-size: 1.3em;
	vertical-align: middle;
}

.about-us-column .title-1 {
	padding-bottom: 18px;
  padding-top: 40px;
}

.about-us-column::before {
	position: absolute;
	content: "";
	border-top: var(--color-bl-primary) solid 7px;
  width: 84px;
}



.subscribe-block {
	background-color: var(--color-bg-secondary);
	height: 421px;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	justify-content: space-evenly;
	align-items: flex-start;
}

.subscribe-desc {
	display: inline-flex;
 gap: 252px;
}

.subscribe-wrap {
	display: inherit;
	width: 1158px;
	height: 57px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.subscribe-wrap form {
	display: flex;
}

.subscribe-free {
	background: no-repeat left center / 16px 17px url('../images/tick-big.svg');
 padding-left: 30px;
 align-items: baseline;
}

#subscribe-input {
	width: 557px;
	height: 55px;
	border: none;
	background: transparent;
	padding-left: 20px;
	border-bottom: #c4c4c4 3px solid;
}

.subscribe-submit {
	border: none;
	background: transparent;
	border: #c4c4c4 3px solid;
}

.subscribe-submit span {
	font-family: "Raleway";
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	padding: 18px 39px;
}

footer {
	padding-left: 50px;
	padding-right: 50px;
	height: 321px;
	background-color: var(--color-bl-secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}



.logo-footer-word,
.logo-footer-mark {
fill: var(--color-bg-special);
}

.footer-nav {
	gap: 100px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.footer-nav-list {
	display: flex;
	gap: 35px;
}

.footer-nav-list a{
		color: var(--color-bg-primary);
}


.footer-bottom-list {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

a.footer-tel {
 color: var(--color-bg-primary);
}

.icon-frame::before {
	position: absolute;
	content: "";
	border-bottom: var(--color-bg-special) solid 7px;
  width: 80px;
}

.socials-list {
	display: flex;
	gap: 15px;
}

